<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <div class="form-check d-flex justify-content-end">
        <label class="form-check-label me-1" for="inputVisible">Visible</label>
        <input type="checkbox" name="" id="" [(ngModel)]="inputVisible" (click)="getInputNgModel(inputVisible)">
        <input type="text" name="" id="" [(ngModel)]="inputValue" (keyup.enter)="getInputNgModell(inputValue)">
      </div>
      {{inputVisible}} - {{inputValue}}
      <div class="form-check d-flex justify-content-end">
        <label class="form-check-label me-1" for="inputVisible">Visible</label>
        <input type="checkbox" name="" id="" #inputV (click)="getInputV(inputV.value)">
        <input type="text" name="" id="" #inputVl (keyup.enter)="getInputVl(inputVl.value)">
      </div>
      {{inputV.value}}
    </div>
  </div>
  <div class="row">
    <div class="col-7 mx-auto">
      <h3 class="bg-success text-white p-3">
        {{ getName() }}
      </h3>
      <div class="input-group mb-3">
        <input type="text" class="form-control is-invalid" 
        [(ngModel)]="message"
        #item (keyup.enter)="addTodo(item.value); item.value=''"
          (click)="clickInput()" (focus)="focusEvent()" [ngStyle]="{'background-color': itemText}">
        <!-- (blur)="addTodo(item.value); item.value = ''" -->
        <button class="btn btn-outline-success" (click)="addTodo(message); item.value = ''">Ekle</button>
      </div>
      <div [ngClass]="{'': !message, 'invalid-feedback': message}">
        Please choose a username.
      </div>
      <div *ngIf="!message" class="bg-warning">
        Please choose a username.
      </div>
      {{message}}
      <div class="form-check d-flex justify-content-end">
        <label class="form-check-label me-1" for="displayAll">Hepsini Göster</label>
        <input type="checkbox" for="displayAll" [(ngModel)]="displayAll">
      </div>
      <div class="form-check d-flex justify-content-end">
        {{ displayAll }}
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Açıklama</th>
            <th>Durum</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getTodoItems(); let i = index">
            <td>{{i+1}}</td>
            <td>{{item.description}}</td>
            <td style="border: 1px solid red" [ngStyle]="{'color': item.status ? 'green' : 'red'}">{{item.status}}</td>
            <td [ngClass]="{'bg-primary': item.status, 'bg-success': !item.status}">
              <input type="checkbox" [(ngModel)]="item.status">
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="p-3 mb-2 text-white" [className]="displayAll ? 'bg-primary' : 'bg-success'">.bg-primary</div> -->
      <div class="p-3 mb-2 text-white" [ngClass]="{'bg-primary': displayAll, 'bg-success': !displayAll}">.bg-primary</div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" #item>
        <button class="btn btn-outline-success" (click)="addItem(item.value); item.value = ''">Ekle</button>
      </div>
      <ul>
        <li *ngFor="let item of getItems()"> {{item}} </li>
      </ul>
      <div>
        {{items.length}}
      </div>
      <div>
        <p *ngFor="let item of todoItemsConst"> {{item.description}} </p>
      </div> -
    </div>
  </div> -->
</div>