<!-- Directives -->
<!-- <input type="checkbox" name="" id="" [(ngModel)]="isVisible">
{{isVisible}}
<div *ngIf="isVisible;else template">
  <div class="bg-success">
    <p> {{ title}} </p>
  </div>
</div>

<ng-template #template>
  <div class="bg-primary">
    {{ title}} değil
  </div>
</ng-template> -->

<!-- <div [ngSwitch]="isVisible">
  <h1 *ngSwitchCase="1">Angular</h1>
  <h3 *ngSwitchCase="0">Blazor</h3>
</div> -->

<!-- <div *ngFor="let item of items" ngClass="bg-warning">
  <p>
    {{item.id}} - {{item.description}}
  </p>
</div> -->

<!-- <div *ngFor="let item of items" [ngClass]="isVisible ? 'bg-success' : 'bg-danger'">
  <p>
    {{item.id}} - {{item.description}}
  </p>
</div> -->

<!-- <div *ngFor="let item of items" [ngClass]="{'bg-success': isVisible, 'bg-danger': !isVisible}">
  <p>
    {{item.id}} - {{item.description}}
  </p>
</div> -->

<!-- <div [ngStyle]="{'background-color': isVisible ? 'yellow' : 'red'}">
aaa
</div> -->
<!-- 
    *ngIf="expression"
    <div [ngSwitch]="conditionExpression">
      <div *ngSwitchCase="expression">output</div>
      <div *ngSwitchDefault>output2</div>
    </div>
    *ngFor="let item of list"
    [ngClass]="{cssClass: expression}"
    [ngStyle]="{style: expression}"
-->
<!-- <div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <div>
        <input type="checkbox" name="" id="" [(ngModel)]="binding" (change)="techCareer()">
        {{text}}
        <button (click)="saveList()">Save</button>
      </div>
      <div>
        <ol class="list-group" *ngFor="let list of techCareer()">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">
                {{list.title}}
              </div>
              {{list.description}}
            </div>
            <span class="badge bg-primary rounded-pill">
              {{list.count}}
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Content for list item
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
          </li> 
        </ol>
      </div>
    </div>
  </div>
</div> -->

<!-- Ders5 -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Ders5</h1>
      <div class="mb-2">
        {{getCount()}} item mevcuttur.
      </div>
      <div class="alert alert-warning" *ngIf="getCount() == 0 else itemsTemplate">
        herşey tamam
      </div>
      <ng-template #itemsTemplate>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Description</th>
              <th>Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemms">
              <td>{{item._id}}</td>
              <td>{{item._description}}</td>
              <td [ngStyle]="{'background-color': item._action ? 'green': 'red'}">
                {{item._action}}
                <!-- <div *ngIf="item._action">Yes</div>
                <div *ngIf="!item._action">No</div> -->
                <div [ngSwitch]="item._action">
                  <div *ngSwitchCase="true">Yes</div>
                  <div *ngSwitchDefault>No</div>
                </div>
              </td>
              <td><input type="checkbox" name="" id="" [(ngModel)]="item._action"></td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="input-group mb-3">
        <input type="text" name="" id="" class="form-control" [(ngModel)]="inputText" (keyup.enter)="enterKeyup()">
        <button class="btn" [ngClass]="getBtnClass()">Add</button>
      </div>
    </div>
  </div>
</div>

